*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background-color:burlywood;
    z-index: 2;
}

#gameContainer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    z-index: 2;
    display: grid;
    height: 100vh;
    align-content: center;
    justify-content: center;
    
}

#cellContainer{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    text-align: center;
    background-color: burlywood;
    position: relative;
    z-index: 2;
    animation-duration: 3s;
    animation-name: slidein3;
}
  
@keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }
    
#statusText{
    color:burlywood;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration-line: underline;
    text-decoration-style: double;
    position: relative;
    z-index: 2;
    animation-duration: 3s;
    animation-name: slidein3;
}
#title{
    color: navajowhite;
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: burlywood;
    text-decoration-style: wavy;
    -webkit-text-stroke: 2px burlywood;
    position: relative;
    z-index: 2;
    animation-duration: 3s;
    animation-name: slidein;
}
  
@keyframes slidein3 {
    from {
      margin-right: 0%;
    }
  
    to {
      margin-left: 0%;
    }
  }
  

#restartBtn{
    margin-bottom: 10px;
    border-radius: 25px;
    height: 40px;
    width: 225px;
    cursor: grab;
    background-color: burlywood;
    position: relative;
    z-index: 2;
    animation-duration: 3s;
    animation-name: slideinn;
    display: grid;
    align-content: center;
    justify-content: center;
}
  
@keyframes slideinn {
    from {
      margin-top: 100%;
    }
  
    to {
      margin-bottom: 0%;
    }
  }
  
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 100vh;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vs;
    background: #1c1c1c;
    opacity: 0.7;
    mix-blend-mode: overlay;
}

