*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    background-color: darkslategray;
}

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background-color:burlywood;
}

#gameContainer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#cellContainer{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    text-align: center;
    background-color: burlywood;
    
    
}
#statusText{
    color:burlywood;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration-line: underline;
    text-decoration-style: double;
}
#title{
    color: navajowhite;
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: burlywood;
    text-decoration-style: wavy;
    -webkit-text-stroke: 2px burlywood;
}

#restartBtn{
    margin-bottom: 10px;
    border-radius: 25px;
    height: 40px;
    width: 70px;
    cursor: grab;
    background-color: burlywood;
}
.video {
    position: fixed;
    top: 50%; left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }

